:root {
    --red: red;
    --green: green;
}

body {
    background: #202020;
}

.blocks {
    perspective: 500px;
    flex: 1;
    background-color: #202020;
    padding: 1rem;
    overflow: auto;
}

.blocks-row {
    display: flex;
    flex-direction: row;
}

.blocks-column {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blocks-column::after {
    width: 84px;
    height: 84px;
    content: none;
    position: absolute;
}

.block {
    width: 84px;
    height: 84px;
}


.blocks-column:hover::after {
    background-color: red;
    opacity: 50%;
    content: '';
}

.blocks-column:hover .banner {
    content: '';
    background-color: red;
    opacity: 50%;
    z-index: 100000;
}

.banner {
    top: 8px;
    height: 156px;
    width: 80px;
    position: absolute;
    background-color: rgb(189, 193, 193);
    pointer-events: none;
    transform-style: preserve-3d;
    animation: wind 10s linear infinite;
    backface-visibility: hidden;
    transform-origin: top center;

}

@keyframes wind {
    0%   { transform: rotateX(0deg); }
    25%  { transform: rotateX(15deg); }
    50%  { transform: rotateX(0deg); }
    75%  { transform: rotateX(-15deg); }
    100% { transform: rotateX(0deg); }
}

.banner-shadow {
    position: relative;
    background-image: url('../images/banner-shadow.png');
    height: 156px;
    width: 80px;
    background-position: -160px 0px;
}

.layer {
    position: absolute;
    width: 80px;
    height: 156px;
    background: url('../images/banners.png');
    background-position-x: 0%;
    background-position-y: 0%;
}

.banner-controls {
    color: white;
    z-index: 1000000;
    width: 100%;
    height: 100%;
}

.selected::after {
    content: '';
    background: green;
    opacity: 50%;
}

.patterns {
    flex: 0 0 auto;
    background-color: #202020;
    padding: 1rem;
    flex-direction: row;
    display: flex;
    overflow-x: auto;
    width: 100%;
}

.control-panel {
    flex: 0 0 15%;
    background-color: #202020;
    padding: 1rem;
    border-top: solid 3px black;
}

.pattern-button {
    width: 40px;
    height: 78px;
    background-color: rgb(189, 193, 193);
    cursor: pointer;
    margin: 0px 3px;
    position: relative;
    display: flex;
}

.select::after,
.pattern-button:hover::after {
    content: '';
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    border-style: solid;
    border-width: 3px;
}

.pattern-button:hover::after {
    border-color: var(--red);
}

.select::after {
    border-color: var(--green);
}

.pattern {
    width: 40px;
    height: 78px;
    background: url('../images/banners.png');
    background-size: 1682px 1248px;
}

.pattern-shadow {
    position: relative;
    background-image: url('../images/banner-shadow.png');
    background-size: 40px 78px;
    width: 40px;
    height: 78px;
}


.bansai {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.colors {
    flex: 0 0 15%;
    background-color: #202020;
    border-right: 3px solid black;
    padding: 1rem;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
}

.color-button {
    width: 32px;
    height: 32px;
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 3px;
}

.color {
    width: 32px;
    height: 32px;
    display: flex;
}

.tooltip {
    background: url(../images/dyes.png);
    width: 32px;
    height: 32px;
    display: flex;
}

@media (max-width: 768px) {
    .bansai {
        flex-direction: column;
    }

    .colors {
        flex: 0 0 auto;
        width: 100%;
        height: 50px;
        border-right: none;
        border-bottom: 2px solid black;
        flex-direction: row;
        overflow-x: auto;
    }

    .main {
        flex: 1;
        width: 100%;
    }
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0; /* для предотвращения переполнения */
}


* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body, html {
      height: 100%;
      width: 100%;
      font-family: sans-serif;
    }
