@import "https://www.nerdfonts.com/assets/css/webfont.css";

:root {
    --red: red;
    --green: green;
    --scale: 1.0;
}

@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/Minecraft.woff2') format('woff2'),
        url('../fonts/Minecraft.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.mc-font {
    font-family: "Minecraft";
}

body {
    background: #202020;
}

.blocks {
    flex: 1 1 auto;
    overflow: auto;
    padding: 2rem;
    min-height: 0;
    min-width: 0;
    background-color: #202020;
}


.blocks-row {
    display: flex;
    flex-direction: row;
}

.blocks-column {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blocks-column::after {
    width: calc(84px * var(--scale));
    height: calc(84px * var(--scale));
    content: none;
    position: absolute;
}

.block {
    width: calc(84px * var(--scale));
    height: calc(84px * var(--scale));
}


.blocks-column:hover::after {
    background-color: red;
    opacity: 50%;
    content: '';
}

.blocks-column:hover .banner {
    content: '';
    background-color: red;
    opacity: 50%;
    z-index: 100000;
}

.banner {
    top: 8px;
    height: calc(156px * var(--scale));
    width: calc(80px * var(--scale));
    position: absolute;
    background-color: rgb(189, 193, 193);
    pointer-events: none;
    transform-style: preserve-3d;
    animation: wind 10s linear infinite;
    backface-visibility: hidden;
    transform-origin: top center;

}

@keyframes wind {
    0%   { transform: rotateX(0deg); }
    25%  { transform: rotateX(15deg); }
    50%  { transform: rotateX(0deg); }
    75%  { transform: rotateX(-15deg); }
    100% { transform: rotateX(0deg); }
}

.banner-shadow {
    position: relative;
    background-image: url('../images/banner-shadow.png');
    height: calc(156px * var(--scale));
    width: calc(80px * var(--scale));
    background-size: calc(80px * var(--scale)) calc(156px * var(--scale));
    background-position: calc(-160px * var(--scale)) 0px;
}

.layer {
    position: absolute;
    width: calc(80px * var(--scale));
    height: calc(156px * var(--scale));
    background: url('../images/banners.png');
    background-size: calc(3364px * var(--scale)) calc(2496px * var(--scale));
    background-position-x: 0%;
    background-position-y: 0%;
}

.banner-controls {
    color: white;
    z-index: 1000000;
    width: 100%;
    height: 100%;
}

.selected::after {
    content: '';
    background: green;
    opacity: 50%;
}

.patterns {
    flex: 0 0 auto;
    flex-shrink: 0;
    background-color: #333333;
    padding: 1rem;
    flex-direction: row;
    display: flex;
    overflow-x: auto;
    width: 100%;
    border-bottom: solid 10px black;
}

.controls {
    flex: 0 0 15%;
    flex-shrink: 0;
    background-color: #333333;
    padding: 1rem;
    border-top: solid 10px black;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.pattern-button {
    width: 40px;
    height: 78px;
    cursor: pointer;
    margin: 0px 3px;
    position: relative;
    display: flex;
}

.pattern-button::after {
    content: '';
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.select::after,
.pattern-button:hover::after {
    content: '';
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    border-style: solid;
    border-width: 3px;
}

.pattern-button:hover::after {
    border-color: var(--red);
}

.select::after {
    border-color: var(--green);
}

.pattern {
    width: 40px;
    height: 78px;
    background: url('../images/banners.png');
    background-size: 1682px 1248px;
}

.pattern-shadow {
    position: relative;
    background-image: url('../images/banner-shadow.png');
    background-size: 40px 78px;
    width: 40px;
    height: 78px;
}

.bansai {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.colors {
    flex: 0 0 auto;
    flex-shrink: 0;
    min-width: 100px;
    align-items: center;
    background-color: #333333;
    border-right: 10px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.color-button {
    background: black;
    border-radius: 20%;
    padding: 4px;
    width: 40px;
    height: 40px;
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 5px;
}

.color-button.select::after {
    border-color: red;
    border-radius: 20%;
    border-width: 3px;
}

.color-button:hover::after {
    border: solid 3px red;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20%;
    box-sizing: border-box;
    display: flex;

}

.color {
    width: 32px;
    height: 32px;
    display: flex;
}

.tooltip {
    background: url(../images/dyes.png);
    width: 32px;
    height: 32px;
    display: flex;
}

@media (max-width: 768px) {
    .bansai {
        flex-direction: column;
    }

    .colors {
        flex: 0 0 auto;
        width: 100%;
        border-right: none;
        border-bottom: solid 10px black;
        flex-direction: row;
        overflow: auto;
    }

    .main {
        flex: 1;
        width: 100%;
    }
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100vh;
    width: 100vw;
    font-family: "Minecraft";
}

.white {
    background-color: rgb(189, 193, 193);
}

.orange {
    background-color: rgb(189, 97, 21);
}

.magenta {
    background-color: rgb(151, 58, 143);
}

.lightBlue {
    background-color: rgb(43, 136, 165);
}

.yellow {
    background-color: rgb(192, 163, 45);
}

.lime {
    background-color: rgb(97, 150, 21);
}

.pink {
    background-color: rgb(183, 105, 128);
}

.gray {
    background-color: rgb(53, 60, 62);
}

.lightGray {
    background-color: rgb(118, 118, 114);
}

.cyan {
    background-color: rgb(15, 118, 118);
}

.purple {
    background-color: rgb(104, 37, 139);
}

.blue {
    background-color: rgb(44, 50, 129);
}

.brown {
    background-color: rgb(99, 63, 37);
}

.green {
    background-color: rgb(71, 94, 15);
}

.red {
    background-color: rgb(133, 34, 28);
}

.black {
    background-color: rgb(21, 21, 23);
}

.control-block {
    margin: 5px 15px;
    padding: 5px;
    width: max-content;
    align-items: center;
    display: flex;
    width: max-content;
    flex-direction: column;
    color: white;
}

.control-label {
    width: 100%;
    text-align: left;
}

.control-panel {
    display: flex;
    flex-direction: column;
    border: solid 2px gray;
    padding: 5px;
    gap: 8px;
    margin-top: 7px;
}

.control-row {
    display: flex;
    width: 100%;
    gap: 8px;
}

.control-button {
    width: 100%;
    min-width: 30px;
    min-height: 30px;
    color: white;
    background-color: green;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
}
